.article-box {
    width: 950px;
    padding: 10px;
}

.article-box h2 {
    position: relative;
    padding: 35px 0 35px 60px;
    font-size: 25px;
    line-height: 50px;
}

.article-box h2::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 49px;
    left: 35px;
    width: 10px;
    height: 20px;
    background-color: #1e3c72;
}


.article-text-box {
    padding: 10px 30px;
    font-size: 18px;
}

.article-text-box h1 {
    margin: 20px 0 20px 2px;
    font-size: 2.2rem;
    color: #1e3c72;
}

.article-text-box h2 {
    margin: 20px 0 20px 2px;
    font-size: 2rem;
    color: #1e3c72;
}

.article-text-box h3 {
    margin: 20px 0 20px 2px;
    font-size: 1.8rem;
    color: #1e3c72;
}

.article-text-box h4 {
    margin: 20px 0 20px 2px;
    font-size: 1.5rem;
    color: #1e3c72;
}

.article-text-box h5 {
    margin: 20px 0 20px 2px;
    font-size: 1.2rem;
    color: #1e3c72;
}

.article-text-box h6 {
    margin: 20px 0 20px 2px;
    font-size: 1rem;
    color: #1e3c72;
}

.article-text-box p {
    padding-bottom: 15px;
    text-indent: 2em;
    line-height: 33px;
    color: #222;
}

.article-text-box img {
    display: block;
    max-width: 95%;
    margin: 30px auto;
    width: 70%;

}

.article-text-box video {
    max-width: 95%;
    margin: 15px;
}