.background-image {
    height: 300px;
    width: 100%;
    background-image: url("../images/jobbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: calc(50% - 88px);
}

.content-box .article-box {
    width: 950px;
}

.content-box .article-box>ul {
    list-style: none;
    padding: 15px 5px;
}

.content-box .article-box>ul>li {
    padding: 15px 0 25px 15px;
}

.content-box .article-box>ul>li>.title {
    display: block;
    margin-bottom: 15px;
    color: #1e3c72;
    font-weight: 700;
    font-size: 22px;
    transition: color .3s;
}

.content-box .article-box>ul>li>.red-title {
    color: #8f1919;
}

.content-box .article-box>ul>li:hover .article-abstract {
    color: #1e3c72;
}

.content-box .article-box>ul>li>.title:hover {
    color: rgb(204, 133, 0);
}

.content-box .article-box>ul>li>.article-detail-box {
    display: flex;
}

.content-box .article-box>ul>li>.article-detail-box>.article-abstract {
    color: #555;
    width: 815px;
    font-size: 16px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.date-indicator {
    margin-top: -10px;
    width: 90px;
    height: 80px;
    margin-left: 20px;
}

.date-indicator-day {
    height: 50px;
    background-color: #1e3c72;
    line-height: 50px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    font-size: 30px;
    border-left: 1px solid #1e3c72;
    border-top: 1px solid #1e3c72;
    border-right: 1px solid #1e3c72;
}

.red-date-indicator-day {
    background-color: #b42222;
    border-left: 1px solid #b42222;
    border-top: 1px solid #b42222;
    border-right: 1px solid #b42222;
}

.date-indicator-month-year {
    height: 30px;
    line-height: 30px;
    color: #666;
    text-align: center;
    border-left: 1px solid #1e3c72;
    border-bottom: 1px solid #1e3c72;
    border-right: 1px solid #1e3c72;
}

.red-date-indicator-month-year {
    border-left: 1px solid #b42222;
    border-bottom: 1px solid #b42222;
    border-right: 1px solid #b42222;
}

.article-box h2 {
    position: relative;
    padding: 35px 0 35px 60px;
    font-size: 25px;
    line-height: 50px;
}

.article-box h2::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 49px;
    left: 35px;
    width: 10px;
    height: 20px;
    background-color: #1e3c72;
}


.article-text-box {
    padding: 10px 30px;
    font-size: 18px;
}

.article-text-box h4{
    margin: 20px 0 20px 2px;
    font-size: 23px;
    color: #1e3c72;
}

.article-text-box p {
    padding-bottom: 15px;
    text-indent: 2em;
    line-height: 33px;
    color: #222;
}

.article-text-box img {
    display: block;
    max-width: 95%;
    margin: 30px auto;
    width: 70%;

}

.article-text-box video {
    max-width: 95%;
    margin: 15px;
}