
.indicator {
    width: 250px;
    height: 150px;
    background-color: rgba(35, 73, 179, 0.83);
    position: absolute;
    top: 195px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

.red-indicator {
    background-color: rgb(187 42 42 / 83%);
}

.pos-bar {
    height: 45px;
    background-color: #eee;
}

.pos-bar>.core>.pos {
    line-height: 45px;
    margin-left: 300px;
}

.pos-bar>.core>.pos i {
    color: #777;
    font-size: 15px;
    margin-right: 5px;
}

.pos-bar>.core>.pos a {
    color: #000;
    transition: color .3s;
}

.pos-bar>.core>.pos a:hover {
    color: #1e3c72;
    text-decoration: underline;
}

.content-box>.core {
    display: flex;
}

.content-box .sidebar {
    width: 250px;
    background-color: #eee;
    height: 100%;
}

.content-box .sidebar ul {
    list-style: none;
}

.content-box .sidebar ul>li {
    display: block;
}

.content-box .sidebar ul>li>a {
    display: block;
    padding: 25px;
    color: #444;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    transition: all .1s;
}

.content-box .sidebar ul>li>a:hover {
    color: #fff;
    background-color: rgb(28, 55, 129);
}

.content-box .sidebar ul>li> .red-sidebar-menu-item:hover {
    background-color: rgb(158, 0, 0);
}
