.background-image {
    height: 300px;
    width: 100%;
    background-image: url("https://tc.qn.ipangbo.cn/image/classroom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: calc(50% - 46px);
}

.content-box .article-box {
    width: 950px;
}

.article-box {
    padding-left: 30px;
    padding-top: 40px;
}

.article-box > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.article-box > ul > li > a {
    display: block;
    color: #000;
}

.teacher-card {
    position: relative;
    width: 250px;
    height: 100%;
    border: 1px solid #eee;
    border-radius: 10px;
    transition: all 0.3s;
    margin-bottom: 40px;
}

.teacher-card > .teacher-img {
    display: block;
    margin: 25px auto;
    border-radius: 10px;
    width: 150px;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.teacher-card > h4 {
    text-align: center;
    font-size: 18px;
    transition: color 0.3s;
    color: #1e3c72;
}

.teacher-card > .teacher-title {
    color: #888;
    text-align: center;
    margin: 13px 0 20px 0;
}

.article-box > ul > li > a:hover .teacher-card {
    background-color: rgb(252, 252, 252);
    border: 1px solid #ddd;
    box-shadow: #f8f8f8 0 0 10px;
}

.article-box > ul > li > a:hover .teacher-card h4 {
    color: rgb(204, 133, 0);
}

.teacher-article-img {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 100%;
}